<div class="container mb-5" style="margin-top: 20vh">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <div class="text-center">
            <h4>WELCOME</h4>
          </div>
          <div class="text-center text-muted mb-4">
            <p>Please Sign in with credentials</p>
          </div>
          <form>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" required placeholder="Email" autocomplete="email" class="form-control" />
              </div>
            </div>

            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                </div>
                <input type="passowrd" required placeholder="Password" autocomplete="current-password"
                  class="form-control" />
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-block btn-primary">Sign In</button>
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="">Forgot Password?</a>
        </div>
        <div class="col-6 text-right">
          <a href="">Create an account</a>
        </div>
      </div>
    </div>
  </div>
</div>
